<div class="py-3 px-0">
    <div class="d-flex align-items-center">
        <div class="flex-fill px-3">
            <img src="{{ url('public/img/items/'~item['id']~'.png') }}">
        </div>
        <div class="flex-fill w-100">
            <h6 class="mb-0">{{ item['name'] }}</h6>
            <small class="text-muted">{{ item['examine'] }}</small>
        </div>
    </div>
</div>

<div class="list-group list-group-flush mb-3">
    <div class="list-group-item p-2 border-0 bg-transparent">
        Release Date: {{ item['release_date'] }}
    </div>
    <div class="list-group-item p-2 border-0 bg-transparent">
        Members: {{ item['members'] == 1 ? "Yes" : "No" }}
    </div>
    <div class="list-group-item p-2  border-0 bg-transparent">
        Tradeable: {{ item['tradeable'] == 1 ? "Yes" : "No" }}
    </div>
    <div class="list-group-item p-2 border-0 bg-transparent">
        Value: {{ item['cost']|number_format }}gp
    </div>
</div>

{% if item['equipment'] %}

{% set badge = theme == "dark" ? "badge-white" : "badge-dark" %}

<div class="card mb-3 border-0">
    <div class="card-header py-2 pl-2 bg-transparent text-{{ theme == "dark" ? "white" : "dark" }}">
        Main Bonuses
    </div>
    <div class="d-flex text-center py-2">
        {% set stat_names = ['stab', 'slash', 'crush', 'magic', 'ranged'] %}
         
        {% for stat in stat_names %}
        <div class="flex-fill px-2 {{ loop.first ? '' : 'border-left' }}">
            <p class="mb-2">
                <img src="{{ url('public/img/item_icons/'~stat~'.png') }}">
            </p>
            <p class="mb-0">
                {% set attack  = item['equipment']['attack_'~stat] %}
                {% set defence = item['equipment']['defence_'~stat] %}

                <span class="badge bg-transparent {{ badge }} w-100 {{ attack == 0 ? '' : (attack < 0 ? 'text-danger' : 'text-success') }}">
                    {{ attack == 0 ? '' : (attack < 0 ? '-' : '+') }}
                    {{ attack }}
                </span>

                <span class="badge bg-transparent {{ badge }} w-100 {{ defence == 0 ? '' : (defence < 0 ? 'text-danger' : 'text-success') }}">
                    {{ defence == 0 ? '' : (defence < 0 ? '-' : '+') }}
                    {{ defence }}
                </span>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="card border-0 mb-3">
    <div class="card-header py-2 pl-2 bg-transparent">
        Other Bonuses
    </div>
    <div class="d-flex text-center py-2">
        {% set stat_names = ['melee_strength', 'ranged_strength', 'magic_damage', 'prayer'] %}

        {% for stat in stat_names %}
        <div class="flex-fill px-2 {{ loop.first ? '' : 'border-left' }}">
            <p class="mb-2">
                <img src="{{ url('public/img/item_icons/'~stat~'.png') }}">
            </p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    {% set statVal = item['equipment'][stat] %}
                    <i class="fas fa-sword"></i> 
                    <span class="{{ statVal == 0 ? '' : (statVal < 0 ? 'text-danger' : 'text-success') }}">
                        {{ statVal == 0 ? '' : (statVal < 0 ? '-' : '+') }}
                        {{ statVal }}
                    </span>
                </span>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<a href="{{ item['wiki_url'] }}" target="_blank" class="btn btn-block btn-link">
    View on Wiki
</a>