
<div class="card border-0 shadow-sm mb-3">
    <table class="table mb-0">
        <thead>
        <tr>
            <th class="text-center" style="width:80px">Id</th>
            <th class="text-center" style="width:75px;"></th>
            <th class="text-center" style="width:70px;"></th>
            <th>Name</th>
        </tr>
        </thead>
        {% for item in results['items'] %}
        <tr>
            <td class="text-center">{{ item['id'] }}</td>
            <td class="text-center">
                <img src="{{ url('public/img/items/'~item['id']~'.png') }}" height="32">
            </td>
            <td class="text-center">
                {% if item['members'] %}
                <img src="{{ url('public/img/members.png') }}" data-toggle="tooltip" data-title="Members">
                {% endif %}
            </td>
            <td style="line-height:1em;">
                <a href="" id="item-tooltip"
                    data-toggle="popover" 
                    data-trigger="focus"
                    data-placement="right"
                    data-html="true"
                    data-content='{% include 'tools/item_tooltip.twig' %}'>
                    {{ item['name'] }}
                </a>

                <br>

                <small class="text-muted">
                    {{ item['examine'] ? item['examine'] : 'This item has no examine.' }}
                </small>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% set totalPages = servers.lastPage() %}
{% set current = servers.currentPage() %}

<nav aria-label="servernav" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ results['current'] == 1 ? 'disabled' : '' }}">
            <a class="page-link" id="pageBtn" data-page="{{ results['first'] }}" href="#">
                 {{ icon('chevron-bar-left', 14, 14) }}
            </a>
        </li>

        <li class="page-item {{ results['current'] == 1 ? 'disabled' : '' }}">
            <a class="page-link"  id="pageBtn" data-page="{{ results['before'] }}" href="#">
                {{ icon('chevron-left', 14, 14) }}
            </a>
        </li>

        {% if results['total_pages'] > 5 %}
            {% set start = results['current'] < 3 ? 1 : results['current'] - 2 %}
            {% set end   = start < 4 ? start + 4 : results['current'] + 2 %}

            {% if end > results['total_pages'] %}
                {% set end = results['total_pages'] %}
            {% endif %}

            {% if start + 4 >= results['total_pages'] %}
                {% set start = results['total_pages'] - 4 %}
            {% endif %}
        {% else %}
            {% set start = 1 %}
            {% set end   = results['last'] %}
        {% endif %}

        {% for p in start..end %}
        <li class="page-item {{ results['current'] == p ? ' active' : ''}}">
            <a class="page-link" href="#" id="pageBtn" data-page="{{ p }}">
                {{ p }}
            </a>
        </li>
        {% endfor %}

        <li class="page-item {{ results['current'] >= results['total_pages'] ? 'disabled' : '' }}">
            <a class="page-link" 
                href="#" id="pageBtn" data-page="{{ results['next'] }}">
                {{ icon('chevron-right', 14, 14) }}
            </a>
        </li>

        <li class="page-item {{ results['current'] >= results['total_pages'] ? 'disabled' : '' }}">
            <a class="page-link" 
                href="#" id="pageBtn" data-page="{{ results['last'] }}">
                {{ icon('chevron-bar-right', 14, 14) }}
            </a>
        </li>
    </ul>
</nav>

<script>
    $('[data-toggle="popover"]').popover();

    $('[id="item-tooltip"]').on('click', function(e) {
        e.preventDefault();
    });
    $('[id="pageBtn"]').on('click', function(e) {
        e.preventDefault();
    });
</script>