{%  extends 'layout.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 py-5">
                
                <ul class="nav nav-pills nav-pills-primary mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" 
                            data-toggle="tab"
                            data-type="premium" 
                            href="#premium" 
                            id="typeSelect"
                            role="tablist">
                            Premium
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                            data-toggle="tab" 
                            data-type="sponsor" 
                            id="typeSelect"
                            href="#sponsor" role="tablist">
                            Sponsor Slot
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">

                    <!-- Premium Packages Pane -->
                    <div class="tab-pane show active text-center" 
                        id="premium" 
                        role="tabpanel" 
                        aria-labelledby="premium-tab">

                        <h4 class="display-4 mb-0 text-default">Premium Packages</h4>
                        <p class="small text-muted">
                            Instant votes on all packages will also be applied at the beginning 
                            of every month after reset.
                        </p>

                        <div class="row my-5">
                            {% for package in premium_packages %}
                            {% set features = package.features|json_decode %}

                            <div class="col-sm-12 col-lg-4">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent">
                                        <h6 class="text-uppercase ls-1 py-3 mb-0">
                                            {{ package['title'] }}
                                        </h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="display-3 text-default">
                                            ${{ package['price']|number_format(2) }}
                                        </div>

                                        <span>
                                            {{ package['duration']/60/60/24 }} Days
                                        </span>
                                        
                                        <ul class="list-unstyled my-4">
                                            <li class="align-items-center">
                                                <span class="text-default">+{{ package.level * 100 }}</span> Instant Votes
                                            </li>
                                            <li class="align-items-center">
                                                <span class="text-default">Highlighted</span> Background
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="#" 
                                            id="package-select"
                                            data-package="{{ package['id'] }}"
                                            class="btn btn-default {{ user is defined ? '' : 'disabled' }}">Select</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Sponsor Packages Pane -->
                    <div class="tab-pane text-center" 
                        id="sponsor" 
                        role="tabpanel" 
                        aria-labelledby="sponsor-tab">
                        
                        <h4 class="display-4 mb-0 text-default">Sponsor Packages</h4>
                        <p class="small text-muted">
                           Have your server visible at the top of the server list, separated from everyone
                           else for maximum visibility.
                        </p>

                        {% set slots = 3 - sponsors %}

                        {% if slots > 0 %}
                        <p class="font-weight-bold">
                            Slots Available: 

                            {% if slots == 3 %}
                            <span class="text-success">{{ slots }}</span>
                            {% elseif slots == 2 %}
                            <span class="text-warning">{{ slots }}</span>
                            {% elseif slots == 1 %}
                            <span class="text-danger">{{ slots }}</span>
                            {% endif %}
                        </p>
                        {% else %}
                        <div class="text-danger">
                            There are no slots available right now. A slot will be available in:<br>
                            <span class="font-weight-bold">
                                {{ timeLeft(nextslot.expires) }}
                            </span>
                        </div>
                        {% endif %}

                        <div class="row my-5">
                            {% for package in sponsor_packages %}
                            {% set features = package.features|json_decode %}

                            <div class="col-sm-12 col-lg-4">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent">
                                        <h6 class="text-uppercase ls-1 py-3 mb-0">
                                            {{ package.title }}
                                        </h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="display-3 text-default">
                                            ${{ package['price']|number_format(2) }}
                                        </div>

                                        <span>
                                            {{ package['duration']/60/60/24 }} Days
                                        </span>
                                        
                                        <ul class="list-unstyled my-4">
                                            <li class="align-items-center">
                                                <strong class="text-default">Maximum</strong> Visiblity
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="#" 
                                            id="package-select"
                                            data-package="{{ package['id'] }}"
                                            class="btn btn-default {{ user is defined ? '' : 'disabled' }}">
                                            Select
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>


{% if user is defined and slots > 0 %}
<section id="servers" class="pricing-5 py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="display-3 mt-3 mb-0">Choose a Server</h3>
                <p>Select a server in which you want the boost.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                {% for server in servers %}
                <div class="card shadow-sm mb-0 mb-3 {{ server.premium_expires > time() ? 'bg-premium' : '' }}">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill" style="width:300px;">
                                <p class="mb-0">{{ server.title }}</p>
                                <p class="small">Revision: {{ server.revision }}</p>
                            </div>
                            <div class="flex-fill">
                                {% if server.banner_url %}
                                <a href="{{ url('details/'~server_url) }}" class="banner-img">
                                    <img data-src="{{ banner(server.banner_url) }}"
                                        id="banner"
                                        class="img-fluid rounded lazy">
                                </a>
                                {% else %}
                                <a href="{{ url('details/'~server_url) }}" class="banner-img">
                                    <img data-src="{{ url('public/img/banner-'~theme~'.png') }}"
                                        id="banner"
                                        class="img-fluid rounded lazy">
                                </a>
                                {% endif %}
                            </div>
                            <div class="flex-fill text-right px-3">
                                <p class="mb-0">{{ server.votes }}</p>
                                <p class="small mb-0">Votes</p>
                            </div>
                            <div class="flex-fill text-right">
                                <a href="#" id="server-select" class="btn btn-default" data-server="{{ server.id }}">
                                    Select
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="pricing-5 text-center" id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-lg-3 col-lg-6">
                <div class="d-flex align-items-center text-center" style="height:50px;"
                    <div class="flex-fill w-100">
                        <div id="pp-notice" class="w-100">
                            <span class="small text-muted">
                                Select a package and server above to continue.
                            </span>
                        </div>
                    </div>
                </div>

                <div id="paypal-btn" style="height:60px; width:400px;" class="mx-auto mb-5">
                    <div class="rounded-pill" 
                        style="height:45px;background-color: rgba(0,0,0,0.1)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="preModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div id="content">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% if user is defined %}
<script src="https://www.paypal.com/sdk/js?client-id={{ constant('paypal_production') }}"></script>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    let type    = "premium";
    let package = -1;
    let server  = -1;

    let modal       = $('#preModal');
    let paypalBtn   = $('#paypal-btn');
    let statusBlock = $('#pp-notice');

    $('a[id="typeSelect"]').click(function(e) {
        e.preventDefault();
        type = $(this).data("type");
        console.log(type);
    });

    $('[id="package-select"]').on("click", function(event) {
        event.preventDefault();

        package = $(this).data("package");

        $(document).find("[id='package-select']").closest(".card").each(function(index, element) {
            $(this).removeClass("border-primary");
        })

        $(this).closest(".card").addClass("border-primary");
        //scrollTo($('#servers'));
    });

    $('[id="server-select"]').on("click", function(event) {
        event.preventDefault();

        server = $(this).data("server");

        $(document).find("[id='server-select']").each(function(index, element) {
            $(this).closest(".card").removeClass("border-primary");
        })

        if ((typeof package !== "undefined") && (typeof server != "undefined")) {
            $(this).closest(".card").addClass("border-primary");
            $('#checkout').removeClass("d-none");
            loadButton(package, server);
        }
    });

    function scrollTo(element) {
        $('html, body').stop().animate({
            'scrollTop': element.offset().top
        }, 800, 'swing');
    }

    function loadButton(package, server) {
        statusBlock.removeClass("text-danger").html("Loading...");

        $.ajaxq('PaymentQueue', {
            url: '{{ url("ads/button") }}',
            data: {
                type: type,
                package: package,
                server: server
            },
            type: 'POST',
            success: function (json) {
                if (json.success) {
                    statusBlock.html("");
                    paypalBtn.html(json.message);
                } else {
                    console.log(json);
                    statusBlock.addClass("text-danger").html(json.message);
                }
            },
            error: function(data) {
                console.log(data.responseText);
            }
        });
    }
});
</script>

{%  endblock %}
