{% extends 'admin_layout.twig' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">

            <div class="card border-0 shadow-sm mb-3 overflow-hidden">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-0">Premium</h6>
                            <h2 class="mb-0">Add Package</h2>
                        </div>
                    </div>
                </div>

                {% if errors is defined %}
                <div class="alert alert-danger">
                    <ul class="mb-0 pl-3">
                        {% for key, value in errors %}
                        <li>{{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
                <form action="{{ url('admin/premium/edit/'~package.id) }}" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" value="{{ package.title }}">
                        </div>
                        <div class="form-group">
                            <label for="price">Price (USD)</label>
                            <input type="number" class="form-control" name="price" value="{{ package.price }}"
                                min="1" step="0.01">
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration</label>
                            <input type="text" class="form-control" name="duration" value="{{ package.duration }}">
                            <small>Value in seconds. 86400 = 1 day.</small>
                        </div>
                        <div class="form-group">
                            <label for="duration">Level</label>
                            <input type="number" class="form-control" name="level" value="{{ package.level }}">
                            <small>Integer value. Level * 100 = votes for the month</small>
                        </div>
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a href="" class="btn btn-link text-primary">Cancel</a>
                    </div>
                </form>
                
            </div>

            {{ content|raw }}
            
        </div>
    </div>
</div>
{% endblock %}